.infom_t_area {color:#412900;font-size:14px;line-height:24px;}
ul.infom_list {}
ul.infom_list li {color:#412900;font-size:14px;line-height:24px;}
ul.infom_list li span {font-weight:bold;}
ul.infom_list li span.spa_area {display:inline-block;width:35px;}

ul.ckeck_list {}
ul.ckeck_list li {color:#412900;font-size:14px;line-height:30px;}


table.process_info_table {width:100%;}
table.process_info_table:before {display:block;content:'';height:10px;}
table.process_info_table tr:first-child td {border-top:none;}
table.process_info_table tr td{border-top:1px solid #dedbd8;text-align:center;}
table.process_info_table tr td.center{color:#9d5a08;font-size:14px;font-weight:bold;line-height:22px;}
table.process_info_table tr td.center span {color:#412900;}

table.process_info_table tr td.last {padding:15px 0 15px 10px;text-align:left;color:#494233;font-size:12px;line-height:20px;}
table.process_info_table tr td.last p {font-size:14px;font-weight:bold;line-height:28px;}
table.process_info_table tr td.last span {display:block;font-weight:bold;}
table.process_info_table tr td ul.prd_cau {margin:5px 0 0 0;}
table.process_info_table tr td ul.prd_cau li {color:#c87c1e;font-size:11px;line-height:16px;}

/* 현대 장례 절차*/
.funeral01_proc {overflow:hidden;}
.funeral01_proc img {float:left;}
.funeral01_proc p {margin-left:67px;color:#412900;font-size:14px;line-height:22px;letter-spacing:-0.03em;}
.funeral01_proc p span{display:block;font-weight:bold;}



p.funeral_etc_exp {color:#412900;font-size:14px;line-height:24px;letter-spacing:-0.03em;}
.funeral_exp_area {font-size:13px;line-height:22px;}
.funeral_exp_area .exp_tit {font-weight:bold;}
.funeral_exp_area p.tit_do {font-weight:bold;color:#c87c1e;}
.funeral_exp_area ul.do_list {}
.funeral_exp_area ul.do_list li{}
.funeral_exp_area p.yellow_b {font-weight:bold;color:#c87c1e;}
.funeral_exp_area p.yellow {color:#c87c1e;}


/* 제례정보*/
table.info_ritual {}
table.info_ritual tr th {vertical-align:top;}
table.info_ritual tr td {font-size:14px;line-height:22px;letter-spacing:-0.02em;}
table.info_ritual tr.line th, table.info_ritual tr.line td {height:50px;background:url('https://www.yedaham.co.kr/images/cyber_center/application/bg_table_line.png') repeat-x center center;}
table.info_ritual tr td span.fb {font-weight:bold;}



.bg_manager {background:#ffffff url('https://www.yedaham.co.kr/images/information/manager/bg_manager.png') no-repeat right bottom !important;;}
.txt_manager {position:relative;}
.txt_manager a {position:absolute;right:0;top:0;}

/* 장례식장*/
.facilities_wrap {overflow:hidden;}
.facilities_wrap .facilities_list {float:left;width:371px;}
.facilities_wrap .facilities_map {float:right;width:371px;}

.map_addr_list {max-height:514px;overflow:auto;}
table.map_table {width:100%;}
table.map_table tr th, table.map_table tbody tr td {color:#494233;border:1px solid #dedbd8;}
table.map_table tr th{font-weight:bold;line-height:16px;background-color:#f8f3ec;border-top:1px solid #dedbd8;text-align:center;}
table.map_table tr td{padding:10px 0 10px 15px;;line-height:20px;text-align:left;background:url('https://www.yedaham.co.kr/images/icon/icon_location.png') no-repeat 228px center;}
table.map_table tr td.num {padding:0;text-align:center;font-weight:bold;}
table.map_table tr td a {display:block;color:#494233;}
table.map_table tr td p.addr {width:210px;}
table.map_table tr td span {display:inline-block;padding:0 6px;color:#e5e5e5;}


table.info_facilities {width:100%;border-top:2px solid #494233;border-bottom:2px solid #494233;font-size:14px;}
table.info_facilities tr th, table.info_facilities tbody tr td {color:#494233;background:url('https://www.yedaham.co.kr/images/common/bg_table_bar.png') repeat-y left top;border-top:1px solid #dedbd8;}
table.info_facilities  tr > :first-child {background-image:none;}
table.info_facilities tr th{font-weight:bold;height:50px;line-height:22px;background-color:#f8f3ec;border-top:1px solid #dedbd8;text-align:center;}
table.info_facilities tr td{line-height:22px;height:50px;text-align:left;padding:0 0 0 15px;}

/* 가상서비스체험 */

.exp_wrap {width:749px;height:603px;background:url('https://www.yedaham.co.kr/images/information/experience/bg_experience.png') no-repeat center center;border:1px solid #dedbd8;}
.exp_start {text-align:center;}
.exp_start img.start_title{margin:193px 0 0 0;}
.exp_start p.start_txt {color:#494233;font-size:14px;line-height:22px;font-weight:bold;}

.exp_process {position:relative;}
.exp_process .btn_area {position:absolute;left:0;top:10px;width:100%;text-align:center;z-index:99;}
.exp_process .day_title {position:absolute;left:0;top:445px;width:100%;text-align:center;}
.exp_process p.exp_text {position:absolute;left:0;top:485px;width:100%;color:#494233;font-size:14px;line-height:22px;text-align:center;}
.exp_process p.exp_text span.t1 {color:#c87c1e;font-weight:bold;line-height:24px;}


/* 장례 지도사 정보*/
.manager_profile {overflow:hidden;}
.manager_profile img {float:left;}
.manager_profile .profile_txt {margin-left:136px;}
.manager_profile .profile_txt p {color:#444444;font-size:14px;line-height:22px;}
.manager_profile .profile_txt p span {font-weight:bold;}
.manager_profile .profile_txt p.p1 {padding:3px 0 0 0;color:#754c24;font-size:16px;font-weight:bold;}


ul.manager_tab {overflow:hidden;}
ul.manager_tab li{float:left;width:106px;text-align:center;border-top:1px solid #dedbd8;}
ul.manager_tab li.navi_space {width:0px;height:42px;border-right:1px solid #dedbd8;}
ul.manager_tab li.current {border-top:1px solid #494233;background:#494233;}
ul.manager_tab li.current a {color:#ffffff;}
ul.manager_tab li a {display:block;height:42px;line-height:42px;color:#494233;}

.manager_list_wrap {border-top:2px solid #494233;border-bottom:2px solid #494233;}
.manager_list_wrap .manager_top {padding:20px 0;background:#fbf9f8;}

ul.managers {overflow:hidden;}
ul.managers li{float:left;padding:20px 0;width:375px;border-top:1px solid #dedbd8;}