
body.main_body {background:url('https://www.yedaham.co.kr/images/main/bg_main.png') repeat-y left top;}
#main_wrapper {overflow:hidden;position:relative;width:100%;}
#main_wrapper #gnb {position:static;float:left;height:876px;}
#main_wrapper #gnb .floating_menu{}
#main_wrapper.bg1 {background:#d2b69f;}
#main_wrapper.bg2 {background:#c0e4e4;}
#main_wrapper.bg3 {background:#b7e4cd;}
#main_wrapper.bg4 {background:#f8de8e;}

.main_container {margin-left:181px;width:1099px;height:786px;}
.main_visual01 {width:100%;height:100%;background:url('https://www.yedaham.co.kr/images/main/main_visual01.png') no-repeat right top;}
.main_visual02 {width:100%;height:100%;background:url('https://www.yedaham.co.kr/images/main/main_visual02.png') no-repeat right top;}
.main_visual03 {width:100%;height:100%;background:url('https://www.yedaham.co.kr/images/main/main_visual03.png') no-repeat right top;}
.main_visual04 {width:100%;height:100%;background:url('https://www.yedaham.co.kr/images/main/main_visual04.png') no-repeat right top;}
.main_visual02 ul li.li01 {background:url('https://www.yedaham.co.kr/images/main/bg_mv02_sect01.png') no-repeat left bottom;}

.visual_wrap {width:840px;margin:0 0 0 130px;padding:135px 0 0 0;}
.visual_wrap ul.vis_con {overflow:hidden;}
.visual_wrap ul.vis_con li {float:left;position:relative;width:260px;height:100%;padding:0 0 0 20px;
	filter:alpha(opacity=90);
	  -moz-opacity:0.9;
	  -khtml-opacity: 0.9;
	  opacity: 0.9;}

.visual_wrap ul.vis_con li p.sect_tit {height:60px;}
.visual_wrap ul.vis_con li .sect_txt {color:#412900;font-size:12px;line-height:18px;}
.visual_wrap ul.vis_con li .sect_txt p.fa-txt {padding:5px 0 0 110px;}
.visual_wrap ul.vis_con li .sect_btn {position:absolute;left:20px;bottom:20px;width:100px;}
.visual_wrap ul.vis_con li .txt_top {margin:0 0 5px 0;color:#59482f;font-size:14px;font-weight:bold;}


.main_visual01 ul li.li01 {background:#fbf8f6;}
.main_visual01 ul li.li02 {background:#f0e9df;}
.main_visual01 ul li.li03 {background:#f1dcb2 url('https://www.yedaham.co.kr/images/main/bg_mv01_sect01.png') no-repeat right bottom;; }
.main_visual01 table.input_table {width:240px;}
.main_visual01 table.input_table tr th {height:36px;color:#754c24;}
.main_visual01 table.input_table tr td {padding:0;}
.main_visual01 table.input_table tr td input{padding:0 10px;height:30px;border:1px solid #dbbf9c;}


.main_visual02 ul li.li01 {background:#fbf8f6 url('https://www.yedaham.co.kr/images/main/bg_mv02_sect01.png') no-repeat right bottom;}
.main_visual02 ul li.li02 {background:#f0e9df url('https://www.yedaham.co.kr/images/main/bg_mv02_sect02.png') no-repeat right bottom;}
.main_visual02 ul li.li03 {background:#f1dcb2;}

.main_visual02 table.input_table {width:240px;}
.main_visual02 table.input_table tr th {height:36px;color:#754c24;}
.main_visual02 table.input_table tr td {}
.main_visual02 table.input_table tr td input{padding:0 10px;height:30px;border:1px solid #dbbf9c;}

.main_visual03 ul li.li01 {background:#fbf8f6 url('https://www.yedaham.co.kr/images/main/bg_mv03_sect01.png') no-repeat right bottom;;}
.main_visual03 ul li.li02 {background:#f0e9df url('https://www.yedaham.co.kr/images/main/bg_mv03_sect02.png') no-repeat right bottom;;}
.main_visual03 ul li.li03 {background:#f1dcb2 url('https://www.yedaham.co.kr/images/main/bg_mv03_sect03.png') no-repeat right bottom;;}
/* �좊툝�� �놁쓣�� height:91px*/
.toggle_wrap {position:absolute;left:180px;bottom:281px;width:100%;z-index:101;background:url('https://www.yedaham.co.kr/images/main/bg_board_wrap.png') repeat-x left bottom;}
.toggle_wrap .toggle_con {width:1099px;}
.toggle_wrap .toggle_con p.btn_toggle {text-align:center;}
.toggle_wrap .toggle_con p.btn_toggle button{width:56px;height:26px;border:none;background:url('https://www.yedaham.co.kr/images/main/bg_show.png') no-repeat center top;text-indent:-9999px;}
.toggle_wrap .toggle_con p.btn_toggle button.down{background:url('https://www.yedaham.co.kr/images/main/bg_hide.png') no-repeat center top;}
.m_board {overflow:hidden;position: relative;}
.m_board:before{content: '';display: block;width: 1px;height: 100%;background-color: #ddd;position: absolute;left:0;top:0;}
.m_board .board01 {background:#fbf8f6;}
.m_board .board02 {background:#f3e9dc;}
.m_board .board03 {background:#fbf8f6;}
.m_board .board_p {float:left;width:363px;}
.m_board .board_p p.board_head {overflow:hidden;height:58px;}
.m_board .board_p p.board_head img {float:left;margin:20px 0 0 20px;}
.m_board .board_p p.board_head a.more {float:right;display:inline-block;margin:24px 20px 0 0;color:#c87c1e;font-size:12px;font-weight:bold;}
.m_board .board_p .hide_area {display:none;height:140px;}
.m_board .board_p ul.board_list {padding:5px 20px 0 20px;}
.m_board .board_p ul.board_list li {position:relative;line-height:24px;}
.m_board .board_p ul.board_list li span {vertical-align:middle;}
.m_board .board_p ul.board_list li span.b_tit {display:inline-block;padding:0 5px 0 10px;max-width:220px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;
	background:url('https://www.yedaham.co.kr/images/main/circle.png') no-repeat left center;
	}
.m_board .board_p ul.board_list li span.b_tit a {color:#4f483b;font-size:12px;}
.m_board .board_p ul.board_list li span.b_tit a:hover {text-decoration:underline;}
.m_board .board_p ul.board_list li span.b_new {color:#c87c1e;font-size:11px;}
.m_board .board_p ul.board_list li span.date {position:absolute;right:0;top:0;color:#4f483b;font-size:11px;}

/* 硫붿씤 �앹뾽*/
table.pop_table {}
table.pop_table tr td {position:relative;}
table.pop_table tr td .pop_form {
		width:100%;position:absolute;left:0;bottom:0;padding:8px 0;
		text-align:right;font-size:12px;color:#513f29;
		
		}
table.pop_table tr td .pop_form2 {
		width:100%;padding:8px 0;
		text-align:center;font-size:12px;
		
		}
table.pop_table tr td .form-bg {
		width:100%;height:32px;position:absolute;left:0;bottom:0;
		background:#ffffff;
		filter:alpha(opacity=90);
	    -moz-opacity:0.9;
	    -khtml-opacity: 0.9;
	    opacity: 0.9;
		}
#popuplay {position:fixed;top: 0;left: 0;height: 100%;width: 100%;background:#000000;z-index:202;
	filter:alpha(opacity=70);
	  -moz-opacity:0.7;
	  -khtml-opacity: 0.7;
	  opacity: 0.7;
}
/*Main common*/
.Mcntbox{}
.Mcntbox:after{ content:""; display:block; clear:both}
.Mcntbox *{ margin:0; padding:0}
.Mcntbox ul{ list-style:none}
.Mcntbox h2{ padding-bottom:9px}

.Mcntbox .thumb{}
.Mcntbox .socialHub,
.Mcntbox .miniPop,
.Mcntbox1 .notice{ position:relative; float:left; width:355px; }

/*socialHub common*/
.Mcntbox .socialHub {}
.Mcntbox .socialHub ul{ display:inline-block}
.Mcntbox .socialHub h2{padding-bottom:0}
.Mcntbox .socialHub li{float:left; }
.Mcntbox .socialHub .thumb{ float:left; text-align:center}
.Mcntbox .socialHub .text{ float:left; padding-left:18px; line-height:1.3em }

/*index : socialHub*/
.McntType1 .socialHub li{padding:0 0 0 9px;}
.McntType1 .socialHub .thumb{ width:355px; height:129px;}
.McntType1 .socialHub .thumb .tnone{ margin-top:2px;}
.McntType1 .socialHub .text{ width:226px;}




/*common miniPop*/
.Mcntbox .miniPop{display:inline-block}
.Mcntbox .miniPop ul.poplist{ }
.Mcntbox .miniPop li{float:left; /*zoom:1;*/}
/* 
	4媛� - right:-170px;
	5媛� - right:-150px;
	6媛� - right:-130px;
	7媛� - right:-110px;
	8媛� - right:-90px;
	9媛� - right:-70px;
*/
.Mcntbox .miniPop li span a{ display:block; width:10px; height:10px; margin-right:3px; background:url('https://www.yedaham.co.kr/images/main/numty1none.png') no-repeat;position:absolute;right:-90px;top:-37px;}
.Mcntbox .miniPop li span a.on{background:url('https://www.yedaham.co.kr/images/main/numty1active.png') no-repeat}

.Mcntbox .miniPop li span span{position:absolute; width:0; height:0; font-size:0; overflow:hidden; visibility: hidden}
.Mcntbox .miniPop .ctrlbtn{ position:absolute; right:0px; top:-42px;}
.Mcntbox .miniPop .thumb{}
.Mcntbox .miniPop .thumb img {width:355px;height:129px;}

/* 占쎈똻�わ옙怨쀫묽*/
.newsticker_wrap {overflow:hidden;margin:10px 0 0 0;padding:0 0 0 129px;}
.newsticker_wrap .ticker_title {float:left;width:120px;height:60px;background:#8e6c34;}
.newsticker_wrap .ticker_list {float:left;width:660px;height:60px;background:#a27f4a;}
.newsticker_wrap .ticker_button {float:left;width:60px;height:60px;background:#8e6c34;}
.newsticker_wrap .ticker_title img {margin:20px 0 0 23px;}
.newsticker_wrap .ticker_list ul.newsticker {margin:20px 0 0 20px;width:620px;}
.newsticker_wrap .ticker_list ul.newsticker li {position:relative;line-height:16px;}
.newsticker_wrap .ticker_list ul.newsticker li span {display:inline-block;vertical-align:middle;}

.newsticker_wrap .ticker_list ul.newsticker li span.txt_color_bold {color:#ffffff;font-weight:bold;}
.newsticker_wrap .ticker_list ul.newsticker li span.news_cont {width:480px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
.newsticker_wrap .ticker_list ul.newsticker li span.news_cont a{color:#ffffff;}
.newsticker_wrap .ticker_list ul.newsticker li span.date{position:absolute;right:0;top:0;font-size:12px;color:#ffffff;}

.newsticker_wrap .ticker_button p {text-align:center;}
.newsticker_wrap .ticker_button p button{width:15px;height:8px;border:none;text-indent:-9999px;}
.newsticker_wrap .ticker_button p button#prev-button {background:url('https://www.yedaham.co.kr/images/main/arr_up.png') no-repeat center center;}
.newsticker_wrap .ticker_button p button#next-button {background:url('https://www.yedaham.co.kr/images/main/arr_down.png') no-repeat center center;}


    #slides {
		width:100%;height:786px;
      display: none;
	  position:relative;

    }
	 
	 #slides img{
		max-width:844px;
    }

    #slides .slidesjs-navigation {
		z-index:100;
    }

    #slides .slidesjs-previous {
		position: absolute;
		left: 75px;
		top: 350px;
		width: 25px;
		height: 48px;
		background: url("https://www.yedaham.co.kr/images/main/vis_arr_prev.png") no-repeat left top;
		text-indent: -9999px;
		background-size: cover;
    }

    #slides .slidesjs-next {
		position: absolute;
		right: 75px;
		top: 350px;
		width: 25px;
		height: 48px;
		background: url("https://www.yedaham.co.kr/images/main/vis_arr_next.png") no-repeat left top;
		text-indent: -9999px;
		background-size: cover;
    }

    .slidesjs-pagination {
		width:100%;
		position:absolute;left:0px;top:20px;
		z-index:100;
		display:block;
		text-align:center;
      	list-style: none;
    }

    .slidesjs-pagination li {
     display:inline-block;
      margin: 0;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 120px;
      height: 29px;
     text-indent:-9999px;
      float: left;
      overflow: hidden;
	  color:#865d15;
	  font-size:16px;
	  font-weight:bold;
	  filter:alpha(opacity=50);
	  -moz-opacity:0.5;
	  -khtml-opacity: 0.5;
	  opacity: 0.5;
	
  
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
	 filter:alpha(opacity=100);
-moz-opacity:1.0;
-khtml-opacity: 1.0;
opacity: 1.0;
    
    }

    .slidesjs-pagination li a:hover {
	 filter:alpha(opacity=100);
-moz-opacity:1.0;
-khtml-opacity: 1.0;
opacity: 1.0;
   
    }

   
    .navbar {
      overflow: hidden
    }

.slidesjs-play {display:none;}