@charset "UTF-8";


.content-exp.index2 {
    height: 255px;
}

.grid-container-menu {
    margin-left:12px;
    margin-right:12px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 12px;
    grid-column-gap: 6px;
}
.grid-container-menu img {
    width: 100%;
}
