@charset "UTF-8";

.pdf-wrap {
    position: relative;
    padding:50px 15px
}
.pdf-wrap.on:after {
    display:block;
    content:'';
    position: absolute;
    opacity: 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index:104;
}
