



.jomun_info_list {margin:10px 0 0 0;font-size:14px;line-height:22px;color:#c87c1e;}
.jomun_price_info {font-size:14px;line-height:22px;}
.jomun_price_info span {color:#c87c1e;}

/* 온라인 법률상담*/
ul.legal_service_con {margin:10px 0 0 0;}
ul.legal_service_con li {font-size:14px;font-weight:bold;color:#412900;}
ul.legal_service_con li p {margin:7px 0 20px 0;padding:0 0 0 10px;font-weight:normal;line-height:24px;}
ul.legal_service_con li p span {display:block;margin:3px 0;font-weight:bold;}

ul.legal_example {overflow:hidden;}
ul.legal_example li {float:left;margin:0 0 0 6px;width:184px;height:105px;}
ul.legal_example li.ex01 {background:url("https://www.yedaham.co.krhttps://www.yedaham.co.kr/images/mypage/legal_advice/bg_legal_advice_list01.png") no-repeat left top;border:}
ul.legal_example li.ex02 {background:url("https://www.yedaham.co.krhttps://www.yedaham.co.kr/images/mypage/legal_advice/bg_legal_advice_list02.png") no-repeat left top;}
ul.legal_example li.ex03 {background:url("https://www.yedaham.co.krhttps://www.yedaham.co.kr/images/mypage/legal_advice/bg_legal_advice_list03.png") no-repeat left top;}
ul.legal_example li:first-child {margin:0;}
ul.legal_example li p {padding:18px 0 0 67px;width:94px;font-size:14px;color:#412900;font-weight:bold;text-align:center;}
ul.legal_example li p span {color:#c87c1e;}

ul.legal_example li p a {display:block;margin:20px 0 0 0;width:92px;height:28px;line-height:28px;font-weight:normal;background:#494233;border:1px solid #3f3829;color:#c9c7c2;} 





ul.kumho_list {overflow:hidden;width:764px;}
ul.kumho_list li {float:left;width:370px;margin:0 6px 0 0;}
ul.kumho_list li p {position:relative;padding:12px 0 13px 0;text-align:center;border:1px solid #dedbd8;border-top:none;font-size:14px;font-weight:bold;color:#444444;}
