@import "tailwindcss";

/* npx @tailwindcss/cli -i ./css/input.css -o ./css/style_new.css --watch */
/* 
 @tailwindcss/cli": "^4.2.2",
    "tailwindcss": "^4.2.2" 
*/

/* Pretendard woff2 전용 설정 */
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


  
@theme {
    --font-pretendard: "Pretendard", ui-sans-serif, system-ui, sans-serif;

  --color-navy-deep: #2d367e;
  --color-navy-gray: #414565;
  --color-blue-periwinkle: #6d75b8;
  --color-blue-mist: #edeff9;

  --color-gray-soft: #f9f9f9;
  --color-gray-light: #f5f5f5;
  --color-gray-medium: #dddddd;
  --color-gray-dark: #999999;

  --color-green: #1db812;
  --color-orange: #fca800;
}

  
@layer base {
    .page-container {
       
        font-family: var(--font-pretendard);
        @apply text-navy-deep text-xs font-bold;
        
        input[type="text"],
        input[type="number"],
        input[type="tel"],
        textarea,
        select {
            @apply w-full border border-navy-deep rounded-lg px-2 py-2 text-xs font-semibold text-navy-deep bg-white;
            @apply transition-all duration-200;

            &::placeholder {
            @apply text-gray-dark font-medium; 
            }

            &:focus {
            @apply outline-none ring-2 ring-navy-deep/20 border-navy-deep;
            }
        } 

        
        select {
            @apply cursor-pointer;
        }

        button:focus-visible {
            @apply outline-none ring-2 ring-navy-deep ring-offset-2;
        }
    }
}

@layer components {
    .page-container {
        @apply flex flex-col h-dvh w-full bg-white;
        header.header {
            @apply flex items-center justify-between shrink-0 h-14 border-b-2 border-navy-deep;
            button.btn-back {
                @apply w-14 h-full flex items-center justify-center;
            }
            h1.header-title {
                @apply text-base font-bold;
            }
            .btn-home {
                @apply w-14 h-full flex items-center justify-center;
            }
        }

        main{
            @apply flex-1 overflow-y-auto bg-navy-gray;
        }
        
        footer.footer {
            @apply shrink-0;
        }

        .content-area {
            @apply p-2;
        }

        .card {
            @apply bg-white flex flex-col rounded-lg overflow-hidden;
        }

      

        section.accordion-section {
            @apply flex flex-col gap-2;
            .accordion-card {
            @apply flex flex-col;
                .accordion-title {
                    @apply flex items-center justify-between px-2 py-3;
                    .title-group {
                        @apply flex items-center flex-1 gap-1;
                    
                        h2 {
                            @apply text-sm font-bold;
                        }
                    }
                    .btn-toggle img {
                        @apply transition-transform duration-300;
                    }
                    .title-right {
                        @apply flex items-center gap-4;
                        .btn-add-item {
                            display: none;
                            @apply   border border-navy-deep rounded-md px-2 py-1 leading-none text-xs font-semibold text-navy-deep;
                            @apply  items-center justify-center gap-1.5 ;
                            &::before {
                            content: "";
                            @apply w-3.5 h-3.5;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%232b3a67' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='12' y1='5' x2='12' y2='19'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            }
                        }
                    }
                }
                &.is-open {
                    .accordion-title {
                        .title-right {
                            .btn-add-item {
                                display: inline-flex;
                            }
                        }
                    }

                    .btn-toggle img {
                        @apply rotate-180;
                    }
                }
                
                .accordion-body {
                    @apply h-0 overflow-hidden transition-all duration-300 ease-in-out;
                    .btn-area {
                        @apply p-2 mb-2;
                        button {
                            @apply w-full flex items-center justify-center gap-2 border border-navy-deep rounded-md px-2 py-2  text-sm font-semibold text-navy-deep;
                            span {
                                @apply text-xs font-normal;
                            }
                        }
                    }
                }
            }
        }
        section.tab-section {
            @apply flex flex-col;
            nav.tab-menu {
                @apply flex items-center justify-between gap-px ;
                .tab-item {
                    @apply flex-1 text-center rounded-t-lg py-4 bg-white/20 text-white/70 font-medium text-sm leading-none transition-all duration-300 ease-in-out;
                    &.active {
                        @apply bg-white text-navy-deep font-bold;
                    }
                }
            }
            .tab-content {
                @apply bg-white;
                .tab-panel {
                    @apply hidden;
                    &.active {
                    @apply block;
                }
                }
                
            
            }
        }

        section.search-section {
            @apply bg-blue-mist p-2;
            .search-box {
                @apply flex items-center gap-2;
                input {
                    @apply text-sm;
                }
            
            }
        }

        section.result-section {
            
            .result-info {
                @apply text-white text-xs font-medium;
                
            }
            .result-list {
                @apply overflow-hidden bg-white rounded-lg mt-2;
                .result-table {
                    @apply w-full table-fixed border-t border-b border-blue-mist mb-4;
                    tr {
                        @apply border-b border-blue-mist;
                        &:has(input[type="checkbox"]:checked) {
                            @apply bg-gray-light; 
                        }
                        th {
                            @apply py-2  text-center font-medium text-blue-periwinkle border-b border-blue-periwinkle;
                        }
                        td {
                            @apply p-2 ;
                            &:last-child {
                                @apply text-[0.6875rem] font-medium;
                            }
                        }
                        &:last-child {
                            @apply border-b-0;
                        }
                    }
                
                }
            }
            .no-result {
                min-height: calc(100dvh - 270px);
                @apply flex items-center justify-center text-sm ;
            }
        }

        .info-table {
            @apply w-full border-t border-b border-blue-mist mb-4;
            tr {
                @apply border-b border-blue-mist;
                th {
                    @apply pl-2  text-left font-medium text-blue-periwinkle;
                }
                td {
                    @apply px-2 py-1 leading-5;
                    .value-group {
                        @apply flex items-center justify-between pr-2;
                    }
                }
                &:last-child {
                    @apply border-b-0;
                }
            }
        
        }

        .form-table {
            @apply w-full border-t border-b border-blue-mist mb-4;
            tr {
                @apply border-b border-blue-mist;
                th {
                    @apply pl-2  text-left font-medium text-blue-periwinkle;
                }
                td {
                    @apply p-2 leading-none;
                    
                }
                &:last-child {
                    @apply border-b-0;
                }
            }
        
        }

        .vendor-table {
            @apply w-full;
            thead {
                tr {
                    th {
                        @apply p-2 border-b border-blue-periwinkle text-blue-periwinkle text-center font-medium;
                        p {
                            @apply font-bold;
                        }
                    }
                    th:nth-child(2) {
                        @apply text-left;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        @apply p-2 border-b border-blue-mist text-center;
                    }
                    td:nth-child(2) {
                        @apply text-left text-[0.6875rem] text-blue-periwinkle leading-[1.4];
                        p {
                            @apply text-sm text-navy-deep;
                        }
                    }
                }
            }
        }

        .item-selection-table {
            @apply w-full border-t border-b border-blue-mist mb-4;
            thead {
                tr {
                    @apply border-b border-blue-mist;
                    th {
                        @apply p-2  text-blue-periwinkle text-center font-medium ;
                        p {
                            @apply font-bold;
                        }
                    }
                    th:nth-child(2) {
                        @apply text-left;
                    }
                }
            }
            tbody {
                tr {
                    @apply border-b border-blue-mist;
                    td {
                        @apply p-2;
                        .group-number {
                            @apply flex flex-col items-center gap-1;
                            span {
                                @apply py-1 text-sm text-blue-periwinkle font-normal;
                            }
                        }
                        .item-row {
                            @apply flex flex-col gap-1;
                            .item-unit {
                            @apply w-full flex items-center gap-1;
                            .item-name {
                                @apply flex-1 bg-gray-soft border border-blue-mist text-sm;
                            }
                            .item-qty {
                                @apply w-12 shrink-0 text-center;
                            }
                        }
                        .item-price {
                            @apply w-full flex items-center gap-1;
                            input {
                                @apply flex-1;
                            }
                            select{
                                @apply w-25 shrink-0;
                            }
                        }
                        }
                    }
                    &:first-child {
                        @apply align-top;
                    }
                    
                }
            }
        }

        .search-box {
            @apply flex items-center gap-1;
    
            input {
                @apply flex-1;
            }
            .search-btn {
            @apply flex items-center justify-center shrink-0;
            img {
                    @apply w-12 h-9;
                }
            }
        }

        .date-box {
            @apply relative w-full;

            input {
                @apply pr-8;
            }
            & span {
                @apply absolute right-2 top-1/2 -translate-y-1/2 pointer-events-none;
                
                & img {
                    @apply object-contain opacity-80;
                }
            }
        }
        .badge {
            @apply inline-flex items-center justify-center px-2 py-1 rounded-full text-xs font-bold leading-none;
            &.badge-green {
            @apply bg-green text-white;
            }
        }

    input[type="checkbox"], input[type="radio"] {
        @apply appearance-none w-6 h-6 border border-blue-periwinkle rounded-md bg-blue-mist cursor-pointer transition-all duration-200 relative;
        
        &:checked {
        @apply bg-blue-periwinkle border-blue-periwinkle;
        
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;
        }

        &:focus-visible {
        @apply outline-none ring-2 ring-blue-periwinkle/30;
        }
    }

    .photo-upload-zone {
        @apply p-2 border-t border-blue-mist;
        p.empty-photo {
        @apply w-full h-50 rounded-md flex flex-col items-center justify-center gap-2 bg-gray-soft border border-blue-mist;
        span {
            @apply text-sm text-blue-periwinkle font-normal;
        }
        }
    }

    .footer-btn-group {
        @apply flex items-center gap-2 w-full p-2;
        .btn {
        @apply flex-1;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center py-4 rounded-lg text-base font-bold leading-none;
        &.btn-primary {
        @apply bg-navy-deep text-white;
        }
        &.btn-secondary {
        @apply bg-gray-medium text-navy-deep;
        }
    }
    }

    
   
}

