select,
textarea,
input,
button {
    outline: none;
}

select:focus,
textarea:focus,
input:focus,
button:focus {
    outline: none;
}

/***** modal dialog *****/
dialog.dialog-base {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 360px;
    padding: 24px;
    border-radius: 16px;
    max-width: none;
    max-height: none;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #999;
    background-color: #fff;
}



dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
    animation: fade-in 200ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

dialog .dialog-wrap {
    position: relative;
    height: 100%;
}