
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight:700;
    outline: none;
    border:none;
    vertical-align: baseline;
}
html, body {
    width: 1920px;
    /* overflow-x: hidden;  */
}
html {
    height: 100%;
}
/* 
300 font-family: 'NanumSquareNeoLight';
400 font-family: 'NanumSquareNeo';
700 font-family: 'NanumSquareNeoBold';
800 font-family: 'NanumSquareNeoExtraBold';
900 font-family: 'NanumSquareNeoHeavy'; 
*/
body {
    min-height: 100vh;
    font-size: 24px;
    font-family: 'NanumSquareNeoBold' , sans-serif !important;
    color:#000;
    background-color: #fff;
    padding-top: 56px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto !important;
}
table{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
}
li{
    list-style:none;
}
a, a:link,  a:visited {
    text-decoration: none;
    color: inherit; 
}
h1, h2, h3, h4, h5 {
    position: relative;
    font-weight: 700;
}
select {
    background-color: #fff;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #999;
    padding: 8px; 
    border-radius: 8px; 
    box-sizing: border-box;
    word-wrap: normal;
    
}

header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height: 56px;
    display: flex;
    padding: 0 16px;
    background-color: #213f9a;
    color:#fff;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .header-logo {
    display: flex;
    align-items: center;
}
header .header-logo > img{
    margin-right: 8px;
}

header .header-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

header .header-menu nav{
    display: flex;
    align-items: center;
    height: 100%;
}
header .header-menu nav a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 24px;
    color: rgba(255, 255, 255, 0.4);
}
header .header-menu nav a.current{
    color: #fff;
}
header .header-menu nav a.current::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left:0;
    top:0;
    background-color: #fff;
}
header .header-menu > a.logout{
    position: relative;
    margin-left: 40px;
    padding: 0 24px;
}
header .header-menu > a.logout::before {
    display: block;
    content: '';
    width: 1px;
    height: 24px;
    background-color: #fff;
    position: absolute;
    left: -20px;
    top: 1px;
}
main {
    
}

/****** login 화면 *****/
body:has(#login) {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main#login {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 100%;
   
}


/* 의전진행관리*/

.filter-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}


/***** 메인 *****/
/* 관리 메인 상세 페이지 */
.manage-list-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    padding: 8px;
    background-color: rgba(221, 221, 221, 0.8);
}

.manage-list-group > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 40px;
    color: #000;
}
.manage-list-group > a > span {
    display: inline-block;
    width: 206px;
    text-align: center;
}

/* 투입 관리 리스트 */
section#resource-management {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;
    border-top: 1px solid #999;
    margin-top: -2px;
}
section#resource-management > div {
    position: relative;
}
section#resource-management > .data-resource {
    height: calc(100svh - 184px);
    overflow-y: auto;
}

#resource-management  .data-resource p.no-data-message {
    height: calc(100svh - 219px);
}

#resource-management  .data-map p.no-data-message {
    height: calc(100svh - 184px);
}


/* 철수 관리 리스트 */
section#closure-management {
    border-top: 1px solid #999;
    margin-top: -2px;
}
section#closure-management > div {
    position: relative;
    height: calc(100svh - 184px);
    overflow-y: auto;
}
section#closure-management > div p.no-data-message {
    height: calc(100svh - 219px);
}
/***** display ******/
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline	{
	display: inline;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}

/***** Grid Template Rows *****/
.grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}
.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
}
.grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
}
.grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
}
.grid-rows-7 {
    grid-template-rows: repeat(7, minmax(0, 1fr));
}
.grid-rows-8 {
    grid-template-rows: repeat(8, minmax(0, 1fr));
}

/* Grid Template Columns */
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

/* grid gap */
.gap-0 {
    gap: 0px;
}
.gap-x-0 {
    column-gap: 0px;
}
.gap-y-0 {
    row-gap: 0px;
}
.gap-24 {
    gap: 24px;
}
.gap-x-24 {
    column-gap: 24px;
}
.gap-y-24{
    row-gap: 24px;
}

/***** Visibility *****/
.visible {
    visibility: visible;
}
.invisible	{
    visibility: hidden;
}

/***** Justify Content *****/
.justify-normal {
    justify-content: normal;
   }
   .justify-start {
    justify-content: flex-start;
   }
   .justify-end {
    justify-content: flex-end;
   }
   .justify-center {
    justify-content: center;
   }
   .justify-between {
    justify-content: space-between;
   }
   .justify-around {
    justify-content: space-around;
   }
   .justify-evenly {
    justify-content: space-evenly;
   }
   .justify-stretch {
    justify-content: stretch;
   }
   .justify-items-start {
    justify-items: start;
   }
   .justify-items-end {
    justify-items: end;
   }
   .justify-items-center {
    justify-items: center;
   }
   .justify-items-stretch {
    justify-items: stretch;
   }
   .justify-self-auto {
    justify-self: auto;
   }
   .justify-self-start {
    justify-self: start;
   }
   .justify-self-end {
    justify-self: end;
   }
   .justify-self-center {
    justify-self: center;
   }
   .justify-self-stretch {
    justify-self: stretch;
   }
   .content-normal {
    align-content: normal;
   }
   .content-center {
    align-content: center;
   }
   .content-start {
    align-content: flex-start;
   }
   .content-end {
    align-content: flex-end;
   }
   .content-between {
    align-content: space-between;
   }
   .content-around {
    align-content: space-around;
   }
   .content-evenly {
    align-content: space-evenly;
   }
   .content-baseline {
    align-content: baseline;
   }
   .content-stretch {
    align-content: stretch;
   }
   .items-start {
    align-items: flex-start;
   }
   .items-end {
    align-items: flex-end;
   }
   .items-center {
    align-items: center;
   }
   .items-baseline {
    align-items: baseline;
   }
   .items-stretch {
    align-items: stretch;
   }
   
/* form */
label.form-label{
    font-size: 24px;
    color: #333;
}
label.form-label + .form-control {
    margin-top: 8px;
}

.form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 8px;
    color: #000;
    font-size: 24px;
    border-radius: 8px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #999;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-select {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 24px;;
    background-color: #fff;
    background-image: url('../images/bg_select.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 19px 10px;
    border: 1px solid #999;
    border-radius: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    color:#000
}


/* input, select에 focus 스타일 */
.form-select:focus,
.form-control:focus{
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  }

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group> .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group > span.btn-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    margin-left: 4px;
    
}

/* 초기화 button 있는 input에 패딩 */
.input-group:has(button.btn-input-clear) input {
    padding-right: 40px; 
}


input:focus {
    outline: none;
} 
::placeholder {
    color: #ccc;
  }





/* button */
button {
    background-color: transparent;
    cursor: pointer;
}
.btn {
    display: inline-block;
    color: inherit;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    height: 48px;
    border-radius: 8px;
}
.btn.btn-login {
    width: 100%;
    height: 100px;
    background-color: #213f9a;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    color:#fff;
    font-size: 32px;
}


.btn-input-clear {
    position:absolute;
    right:8px;
    top:0;
    width: 32px;
    background-image: url('../images/btn_input_del.png');
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.btn-filter {
    position: relative;
    width: 160px;
    height: 100%;
    min-height: 112px;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #213f9a;
    color:#fff;
}
.btn-filter span {
    margin-top:25px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}
.btn-filter::after {
    display: block;
    content: '';
    position: absolute;
    left: 16px;
    right: 16px;
    top: 50%;
    margin-top: 2px;
    height:1px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* 물품사진 보기 */
.btn-pic-view {
    width: 80px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid 1px #999;
    background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #f5f5f5, #f5f5f5);
    font-size: 24px;
    color: #333;

}

/* list 의 버튼 - 철수 등록,*/
.btn-blue-line {
    width: 146px;
    border-radius: 100px;
    border: solid 2px #006dd2;
    background-color: #0085ff;
    color:#fff;
}


/***** badge *****/
.badge {
    min-width:46px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'NanumSquareNeoExtraBold';
    border-radius: 100px;
    
}
.badge-progress {
    border: solid 2px #45b833;
    background-color: rgba(69, 184, 51, 0.2);
    color: #45b833;
}
.badge-pending {
    border: solid 2px #aaa;
    background-color: #fff;
    color: #aaa;

}
.badge-complete {
    border: solid 2px #45b833;
    background-color: #fff;
    color: #45b833;
}
.badge-received {
    border: solid 2px #ffa800;
    background-color: rgba(255, 168, 0, 0.2);
    color: #ffa800;
}
.badge-canceled {

}
.badge-obituary-y {
    background-color: #45b833;
    color: #fff;
}
.badge-obituary-n {
    background-color: #ddd;
    color: #666;
}

/***** table *****/
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f5f5f5;
}
/* 검색 table */
.filter-group {
    display: flex;
    align-items: stretch;
    gap: 32px;
    padding: 8px;
}
.filter-group > .filter-tables {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}


.filter-table th {
    text-align: left;
    color:#333;
}

.filter-table td {
    padding: 4px ;
    padding-right: 40px;
}
.filter-table tr td:last-child {
    padding-right: 0;
}


.filter-group > .filter-button {
    position: relative;
}
.filter-group > .filter-button::before {
    display: block;
    content: '';
    position: absolute;
    left: -16px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #d9d9d9;
}

/* 리스트 table */
.list-table {
    border-collapse: separate;
    border-spacing: 0;
}
.list-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.list-table th {
    position: relative;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    border-bottom: solid 1px #999;
    background-color: rgba(221, 221, 221);
    color:#333333;
   
}
.list-table th::after {
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 9px;
    bottom: 7px;
    width: 1px;
    background-color: #999;
}
.list-table td::after {
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 8px;
    bottom: 8px;
    width: 1px;
    background-color: #d9d9d9;
}
.list-table th:last-child::after,
.list-table td:last-child::after {
    display: none;
}
.list-table tbody tr td {
    position: relative;
    padding: 8px;
    text-align: center;
    font-size: 32px;
    color: #666;
    vertical-align: middle;
    
}
.list-table.list-table-small tbody tr td{
    padding: 16px 8px;
    font-size: 24px;
}

/* 조회 전 */
p.no-data-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100svh - 390px);
    padding:0;
    background-color: rgba(221, 221, 221, 0.8);
    color: #666;
    text-align: center;
    font-size: 24px;
}

.list-table tbody tr td > p.num-certificate {
    position: relative;
    margin-top: 8px;
}

.list-table tbody tr td > p.num-certificate::before {
    display: block;
    content: '';
    position: absolute;
    left:0;
    right:0;
    top: -4px;
    height: 1px;
    background-color: #d9d9d9;

    
}

/*  관리 view table */

.view-table th,
.view-table td {
    position: relative;
    padding: 24px 16px;
    font-size: 32px;
    text-align: left;
}
.view-table th {
    color: #666666;
}
.view-table td {
    color: #000;
}

.view-table td::after {
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background-color: #d9d9d9;
}
.view-table tr:first-child td::after {
    top: 8px;
}
.view-table tr:last-child td::after {
    bottom: 8px;
}
.view-table td:last-child::after {
    display: none;
}
.view-table tr:first-child th::before ,
.view-table tr:first-child td::before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0px;
    height: 1px;
    background-color: #d9d9d9;
}
.view-table tr:first-child th::before {
    left: 16px;
    right: 0px;
}
.view-table tr:first-child td::before {
    left: 0px;
    right: 16px;
}

.view-table-small th,
.view-table-small td {
    position: relative;
    padding: 24px 16px;
    font-size: 24px;
    text-align: left;
}
.view-table-small th {
    color: #666666;
}
.view-table-small td {
    color: #000;
}
.view-table-small td::after {
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 8px;
    bottom: 8px;
    width: 1px;
    background-color: #d9d9d9;
}
.view-table-small tr:last-child th::after {
    display: block;
    content: '';
    position: absolute;
    left: 16px;
    right: 0px;
    top: 0px;
    width: auto;
    height: 1px;
    background-color: #d9d9d9;
}
.view-table-small tr:last-child td::after {
    display: block;
    content: '';
    position: absolute;
    left: 0px;
    right: 16px;
    top: 0px;
    width: auto;
    height: 1px;
    background-color: #d9d9d9;
}
/**** checkbox ****/

/* filter 영역의 checkbox*/
.checkbox-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox-button input[type="checkbox"] {
    display: none;
}


.checkbox-button input[type="checkbox"] + span {
    height: 48px;
    border: solid 1px #ddd;
    color: #999;
    background-color: #fff;
    border-radius: 24px;
    transition: background-color 0.3s, border-color 0.3s;
}
.checkbox-button input[type="checkbox"]:checked + span {
    color: #fff;
    background-color: #1f8aed;
    border: 2px solid #1f8aed;
}

/**** radio button ****/

/* filter 영역의 radio*/
.radio-button {
    width:100%;
    cursor: pointer;
    user-select: none;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button input[type="radio"] + span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: solid 1px #ddd;
    color: #999;
    background-color: #fff;
    border-radius: 24px;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'NanumSquareNeoBold';
    
}
.radio-button input[type="radio"]:checked + span {
    color: #003fff;
    background-color: rgba(0, 133, 255, 0.2);
    border: 2px solid #1f8aed;
    font-family: 'NanumSquareNeoExtraBold';
    font-weight: 800;
}


/* 일반 checkbox*/
.checkbox-normal input[type="checkbox"] {
    display: none;
  }
  
.checkbox-normal {
    cursor: pointer;
    user-select: none;
}
.checkbox-normal label{
    display: flex;
    align-items: center;
}
.checkbox-normal label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('../images/bg_checkbox.png');
    transition:all 0.3s ease;
}

/* 체크박스가 체크된 경우 */
.checkbox-normal input[type="checkbox"]:checked + label::before {
    background-image: url('../images/bg_checkbox_checked.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/***** 토글 제목 *****/
.toggle-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    height: 48px;
    background-color: #586282;
    color: #fff;
    cursor: pointer;
}
.toggle-title  .arrow {
    width: 24px;
    height: 14px;
    background-image: url('../images/bg_toggle_arrow.png');
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease; 
    transform: rotate(180deg);
}
.toggle-title.show .arrow{
    transform: rotate(0deg);
}

/*****  common  *****/
.bg-red {
    background-color: rgba(234, 25, 25, 0.05) !important;
}
.bg-blue {
    background-color: #213F9A  !important;
}
.bg-blue-light {
    background-color: #0085ff  !important;
}
.bg-white {
    background-color: #fff !important;
}
.bg-777 {
    background-color: #777 !important;
}
.bg-ddd {
    background-color: #ddd !important;
}
/* font color */
.text-white {
    color:#fff !important;
}
.text-black {
    color:#000 !important;
}
.text-red {
    color:#ea1919 !important;
}
.text-blue {
    color:#003fff !important;
}
.text-ccc {
    color:#ccc !important;
}
.text-333 {
    color:#333 !important;
}
.text-666 {
    color:#666 !important;
}
.text-aaa {
    color:#aaa !important;
}

/* font size*/
.font-16 {
    font-size: 16px !important;
}
.font-24 {
    font-size: 24px !important;
}
.font-32 {
    font-size: 32px !important;
}

/* Text Align  */
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.text-justify {
    text-align: justify !important;
}
.text-start	{
    text-align: start !important;
}
.text-end {
    text-align: end !important;
}

/* Border Radius */
.rounded-none {
    border-radius: 0px !important;
}
.rounded-8 {
    border-radius: 8px !important; 
}

/* Border Width */
.border-0 {
    border-width: 0px !important;
}
.border-8 {
    border-width: 8px !important;
}
.border-50 {
    border-width: 50px !important;
}
/* width */
.w-240 {
    max-width: 240px;
}
.w-250 {
    max-width: 250px;
}
.w-260 {
    max-width: 260px;
}
.w-280 {
    max-width: 280px;
}
/* padding */
.p-0 {
    padding: 0px !important;
   }
   .px-0 {
    padding-left: 0px !important; 
    padding-right: 0px !important;
   }
   .py-0 {
    padding-top: 0px !important; 
    padding-bottom: 0px !important;
   }
   .ps-0 {
    padding-inline-start: 0px !important;
   }
   .pe-0 {
    padding-inline-end: 0px !important;
   }
   .pt-0 {
    padding-top: 0px !important;
   }
   .pr-0 {
    padding-right: 0px !important;
   }
     .p-8 {
    padding:8px !important;
}

/* margin */

.m-0 {
    margin: 0px !important;
}
.mx-0 {
    margin-left: 0px !important; 
    margin-right: 0px !important;
}
.my-0 {
    margin-top: 0px !important; 
    margin-bottom: 0px !important;
}
.ms-0 {
    margin-inline-start: 0px !important;
}
.me-0 {
    margin-inline-end: 0px !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.mt-32 {
    margin-top: 32px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-100 {
    margin-top: 100px !important;
}
.mr-0 {
    margin-right: 0px !important;
}

/* 말줄임 */
.ellipsis {
    white-space: nowrap; /* 줄바꿈을 방지 */
    overflow: hidden; /* 넘치는 내용을 숨김 */
    text-overflow: ellipsis; /* 말줄임 표시(...) 적용 */
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* position */
.position-static {
    position: static !important;
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}

/* border */
.border {
    border: 1px solid #999 !important;
}


/* line height */
.lh-base {
    line-height: 1.4 !important;
}


/* overflow */
.overflow-auto {
    overflow: auto !important;
}