
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight:700;
    outline: none;
    border:none;
    vertical-align: baseline;
}
html, body {
    width: 1920px;
    /* overflow-x: hidden;  */
}
html {
    height: 100%;
}
/* 
300 font-family: 'NanumSquareNeoLight';
400 font-family: 'NanumSquareNeo';
700 font-family: 'NanumSquareNeoBold';
800 font-family: 'NanumSquareNeoExtraBold';
900 font-family: 'NanumSquareNeoHeavy'; 
*/
body {
    min-height: 100vh;
    font-size: 24px;
    font-family: 'NanumSquareNeoBold' , sans-serif !important;
    color:#000;
    background-color: #fff;
    padding-top: 56px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto !important;
}
table{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
}
li{
    list-style:none;
}
a, a:link,  a:visited {
    text-decoration: none;
    color: inherit; 
}
h1, h2, h3, h4, h5 {
    position: relative;
    font-weight: 700;
}
select {
    background-color: #fff;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #999;
    padding: 8px; 
    border-radius: 8px; 
    box-sizing: border-box;
    word-wrap: normal;
    
}

.bg-red {
    background-color: rgba(234, 25, 25, 0.05); ;
}
.bg-blue {
    background-color: #213F9A ;
}
.bg-777 {
    background-color: #777 ;
}
.bg-ddd {
    background-color: #ddd;
}
/* font color */
.text-white {
    color:#fff;
}
.text-black {
    color:#000;
}
.text-red {
    color:#ea1919;
}

.text-ccc {
    color:#ccc;
}
.text-333 {
    color:#333;
}
.text-666 {
    color:#666;
}
.text-aaa {
    color:#aaa;
}

header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height: 56px;
    display: flex;
    padding: 0 16px;
    background-color: #213f9a;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}

header .header-logo {
    display: flex;
    align-items: center;
}
header .header-logo > img{
    margin-right: 8px;
}

header .header-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

header .header-menu nav{
    display: flex;
    align-items: center;
    height: 100%;
}
header .header-menu nav a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 24px;
    color: rgba(255, 255, 255, 0.4);
}
header .header-menu nav a.current{
    color: #fff;
}
header .header-menu nav a.current::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left:0;
    top:0;
    background-color: #fff;
}
header .header-menu > a.logout{
    position: relative;
    margin-left: 40px;
    padding: 0 24px;
}
header .header-menu > a.logout::before {
    display: block;
    content: '';
    width: 1px;
    height: 24px;
    background-color: #fff;
    position: absolute;
    left: -20px;
    top: 1px;
}
main {
   
}


/* 의전징행관리*/

.filter-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}


/* display */



/* form */
.form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 8px;
    color: #000;
    font-size: 24px;
    border-radius: 8px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #999;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-select {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 24px;;
    background-color: #fff;
    background-image: url('../images/bg_select.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 19px 10px;
    border: 1px solid #999;
    border-radius: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    color:#000
}


/* input, select에 focus 스타일 */
.form-select:focus,
.form-control:focus{
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  }

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group> .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group > span.btn-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    margin-left: 4px;
    
}

/* 초기화 button 있는 input에 패딩 */
.input-group:has(button.btn-input-clear) input {
    padding-right: 40px; 
}


input:focus {
    outline: none;
} 
::placeholder {
    color: #ccc;
  }





/* button */
button {
    background-color: transparent;
    cursor: pointer;
}
.btn {
    display: inline-block;
    color: inherit;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    height: 48px;
    border-radius: 8px;
}

.btn-input-clear {
    position:absolute;
    right:8px;
    top:0;
    width: 32px;
    background-image: url('../images/btn_input_del.png');
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.btn-filter {
    position: relative;
    width: 160px;
    height: 100%;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #213f9a;
    color:#fff;
}
.btn-filter span {
    margin-top:25px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}
.btn-filter::after {
    display: block;
    content: '';
    position: absolute;
    left: 16px;
    right: 16px;
    top: 50%;
    margin-top: 2px;
    height:1px;
    background-color: rgba(255, 255, 255, 0.8);
}


/* table */

/* 검색 table */
.filter-group {
    display: flex;
    align-items: stretch;
    gap: 32px;
    padding: 8px;
}
.filter-group > .filter-tables {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}


.filter-table th {
    text-align: left;
    color:#333;
}

.filter-table td {
    padding: 4px ;
    padding-right: 40px;
}
.filter-table tr td:last-child {
    padding-right: 0;
}
.filter-group {
    display: flex;
    align-items: stretch;
}

.filter-group > .filter-button {
    position: relative;
}
.filter-group > .filter-button::before {
    display: block;
    content: '';
    position: absolute;
    left: -16px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #d9d9d9;
}

/* 리스트 table */
.list-table {

}
.list-table th {
    position: relative;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    border-bottom: solid 1px #999;
    border-top: solid 1px #999;
    background-color: rgba(221, 221, 221, 0.8);
    color:#333333;
}
.list-table th::after {
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 9px;
    bottom: 7px;
    width: 1px;
    background-color: #999;
}
.list-table th:last-child::after {
    display: none;
}

.list-table tbody tr td .no-data-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100svh - 390px);
    padding:0;
    background-color: rgba(221, 221, 221, 0.8);
    color: #666;
    text-align: center;
}
/**** checkbox ****/

/* filter 영역의 checkbox*/
.checkbox-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    user-select: none;
    
}

.checkbox-button input[type="checkbox"] {
    display: none;
}


.checkbox-button input[type="checkbox"] + span {
    height: 48px;
    border: solid 1px #ddd;
    color: #999;
    background-color: #fff;
    border-radius: 24px;
    transition: background-color 0.3s, border-color 0.3s;
}
.checkbox-button input[type="checkbox"]:checked + span {
    color: #fff;
    background-color: #1f8aed;
    border: 2px solid #1f8aed;
}

/**** radio button ****/

/* filter 영역의 radio*/
.radio-button {
    width:100%;
    cursor: pointer;
    user-select: none;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button input[type="radio"] + span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: solid 1px #ddd;
    color: #999;
    background-color: #fff;
    border-radius: 24px;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'NanumSquareNeoBold';
    
}
.radio-button input[type="radio"]:checked + span {
    color: #003fff;
    background-color: rgba(0, 133, 255, 0.2);
    border: 2px solid #1f8aed;
    font-family: 'NanumSquareNeoExtraBold';
    font-weight: 800;
}